<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My alert email</title>
<style>
    body { margin:0; padding:0; font-family:sans-serif; background:#dddd; }
</style>
</head>
<body style="margin:0;padding:0;">
<div style="font-family:sans-serif;background:#dddd;width:100%;padding:49px 20px">
    <div style="max-width:535px;margin:0 auto;padding:38px;background:#fff; box-shadow: 26px 56px 43px #ddd;border-radius: 10px;">
    <table>
        <tr>
        <td> 
            <img src="cid:image1" style="max-width:127px;position:relative;left:-7px;" alt="">
        </td>
        <td style="width:300px;"></td>
        <td> <img src="cid:image2" style="max-width:127px;" alt=""></td>
        </tr>
    </table>
    <p style="font-size:18px;padding-top:10px;">
        Dear Aksha User, <br><br>
        <span style="line-height:30px;"><strong>Camera :</strong> {{camera}}</span><br>
        RTSP link : '{{RTSP_Link}}'<br> is back in service. <br>
        CCTV is now under AI Surveillance! <br><br>
    </p>
    </div>
</div>
</body>
</html>
